{{ define "model" }}{{ end }}

{{ define "models" }}{{ end }}

{{ define "schema" }}{{ end }}

{{ define "gql_types" }}{{ end }}

{{ define "gql_inputs" }}{{ end }}

{{ define "gql_where_inputs" }}{{ end }}

{{ define "gql_mutation_inputs" }}{{ end }}

{{ define "gql_builders" }}{{ end }}

{{ define "gql_transactions" }}{{ end }}

{{ define "gql_node_api" }}{{ end }}

{{ define "gql_collection_api" }}{{ end }}

{{ define "gql_edge_api" }}{{ end }}

{{ define "gql_pagination_api" }}{{ end }}